// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.logo {
  align-self: center;
  width:250px;
  height: 100px;
  background-size: 100%;
  background-image: image-url('logo.png');
  background-repeat: no-repeat;
  margin: 0 10px;
}

.session_phone_background {
  align-self: center;
  width:400px;
  height: 600px;
  background-size: 100%;
  background-image: image-url('main_phone_frame.png');
  background-repeat: no-repeat;
  margin: 0 10px;
}
