@import "colors.scss";

.add-comment-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin: 8px;
  width: 24px;
  height: 24px;
  display: block;
  overflow: hidden;
  text-indent: 110%;
  white-space: nowrap;
  background-image: image-url('icons.png');
  background-repeat: no-repeat;
  background-position: -104px -322px;
}

.comment-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.comment-username {
  cursor: pointer;
  font-weight: 600;
  color: $text-gray;
  margin-right: 4px;white-space: nowrap;
}
