@import "colors.scss";

.like-and-comment-button-frame {
 display: flex;
 flex-direction: row;
 margin-left: -8px;
}

.like-button-frame > figure {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin: 8px;
  width: 24px;
  height: 24px;
  display: block;
  overflow: hidden;
  text-indent: 110%;
  white-space: nowrap;
  background-image: image-url('icons.png');
  background-repeat: no-repeat;
}

.like-button {
  background-position: -26px -322px;
}

.unlike-button {
  background-position: 0px -322px;
}

.like-count {
  font-weight: 600;
}
