.post_item-frame {
  display: flex;
  flex-direction: column;
}

.post_item_ul {
  margin: auto;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  flex-wrap: wrap;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  max-width: 935px;
}

.post_item_ul > li {
  width: 32%;
  max-width: 293px;
  max-height: 293px;
  box-sizing: border-box;
  position: relative;
  margin-bottom: 2%;
}

.post_item_img {
  width: 100%;
  height: 100%;

}
