.post-detail {
  display: flex;
  flex-direction: row;
  max-width: 935px;
  max-height: 100%;
  width: 100%;
  height: 100%;
}
.post-detail-left {
  max-width: 600px;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.post-detail-left-img {
  width: 100%;
}
.post-detail-right {
  display: flex;
  flex-direction: column;
}
