// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "colors.scss";

.session_frame {
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 30px auto 0;
  max-width: 935px;
  width: 100%;
}
.session_phone_frame {
  width: 460px;
  display:flex;
}
.session_phone_background {
  align-self: center;
  min-width:454px;
  height: 618px;
  background-size: 100%;
  background-image: image-url('main_phone_frame.png');
  background-repeat: no-repeat;
  margin: 0 10px;
  position: relative;
}
.session_phone_sample {
  width: 241px;
  height: 429px;
  left: 140px;
  top: 100px;
  position: relative;
  background-image: image-url('main_phone_sample.jpg');
  background-repeat: no-repeat;
  margin: 0 10px;
}

.session_input_frame_parant {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 620px;
}

.session_input_frame {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 10px 0;
  background-color: $white;
  border: 1px solid $border-gray;
  border-radius: 1px;
  padding: 10px 0;
  width: 100%;
  max-width: 350px;
}

.logo-session {
  margin-bottom: -20px;
  align-self: center;
  width:250px;
  height: 100px;
  background-size: 100%;
  background-image: image-url('logo.png');
  background-repeat: no-repeat;
}

.session_submit_button {
  background: $light-blue;
  border-color: $light-blue;
  color: $white;
  -webkit-appearance: none;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  font-size: 14px;
  font-weight: 600;
  line-height: 26px;
  outline: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 80%;
  margin: 4px auto;
}

.session_input_form {
  width: 100%;
  display:flex;
  flex-direction: column;
}

.session_input {
  background: 0 0;
  border: 1px solid $border-gray;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: $text-gray;
  font-size: 14px;
  padding: 9px 8px 7px;
  -webkit-appearance: none;
  width: 80%;
  margin: 4px auto;
}

.link_text {
  text-decoration: none;
  color: $light-blue;
}

.nav-link {
  color: #262626;
  font-size: 14px;
  margin: 15px;
  text-align: center;
}

.error-text {
  color: #ed4956;
  text-align: center;
  list-style: none;
  margin-top: 10px;
}

.session_separator {
  text-align: center;
  color: $text-light-gray;
  font-weight: 500;
  display: flex;
  width: 80%;

  margin: 0 auto;
}

.separator-line {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  background-color: $separator-gray;
  height: 1px;
  position: relative;
  top: .45em;
}

.separator-text {
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 15px;
  margin: 0 18px;
}

.signup_comment {
  font-size: 17px;
  line-height: 20px;
  color: $text-light-gray;
  margin: 0 40px 10px;
  text-align: center;
  font-weight: 600;
}

.signup_terms {
  font-size: 14px;
  line-height: 18px;
  color: $text-light-gray;
  margin: 10px 60px;
  text-align: center;
  font-weight: 400;
}
