@import "colors.scss";
.upload-page {
  width: 100%;
}

.upload-frame-merge {
  width: 90%;
  display:flex;
  flex-direction: row;
  background-color: $white;
  border: 1px solid $border-gray;
  border-radius: 3px;
  justify-content: stretch;
  margin: 60px auto 0;
  max-width: 935px
}

.upload-sub-frame-left {
  border-right: 1px solid $border-gray;
  background-color: $white;
  flex-basis: 236px;
  height: 500px;
}
.upload-sub-frame-right {
  flex: 1 1 400px;
  min-width: 50px;
  height: 500px;
}
.upload-title-text {
  border-left: 2px solid $text-gray;
  color: $text-gray;
  font-size: 16px;
  font-weight: 600;
  height: 20px;
  padding: 16px 16px 16px 30px;
}
.upload-input-frame {
  align-items: stretch;display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  margin-top: 32px;
}
.upload-input {
  display: flex;
  flex-direction: row;
  margin-bottom: 16px;
}

.upload-input-left {
  padding-right: 32px;
  text-align: right;
  padding-left: 32px;
  margin-top: 6px;
  flex: 0 0 194px;
  box-sizing: border-box;
 color: $text-gray;
 -webkit-box-flex: 0;
 font-size: 16px;
 font-weight: 600;
 line-height: 18px;
}
.upload-input-right {
  background: 0 0;
  border: 1px solid $border-gray;
  border-radius: 3px;
  box-sizing: border-box;
  color: $text-gray;
  -webkit-box-flex: 0;
  flex: 0 1 355px;
  font-size: 16px;
  height: 32px;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  line-height: 18px;
  user-select: text;
  cursor: auto;
  margin-right: 25px;
}
.upload-input-right-dropzone {
  background: 0 0;
  border: 1px dashed $border-gray;
  border-radius: 3px;
  box-sizing: border-box;
  -webkit-box-flex: 0;
  flex: 0 1 355px;
  font-size: 16px;
  color: $text-light-gray;
  text-align: center;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  align-content: center;
  height: 200px;
  line-height: 18px;

  margin-right: 25px;

  h3 {
    margin-top: 60px;
    margin-bottom: 10px;
  }
  button {
    padding: 0 10px;
    cursor: pointer;
    background: $light-blue;
    border-color: $light-blue;
    color: $white;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    font-size: 14px;
    font-weight: 600;
    line-height: 26px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  }

  img {
    width: auto;
    min-height: 200px;
    max-height: 200px;
  }
}
.upload-input-right-button {
  padding: 0 24px;
  cursor: pointer;
  background: $light-blue;
  border-color: $light-blue;
  color: $white;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  font-size: 14px;
  font-weight: 600;
  line-height: 26px;
  outline: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  max-width: 100px;
  align-items: flex-start;
  text-align: center;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
}
