@import "colors.scss";

.profile-page {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.profile-header {
  width: 100%;
  max-width: 1010px;
  display: flex;
  padding: 40px 20px 0;
  margin-bottom: 44px;
  flex-direction: row;
}

.profile-header-left {
  flex-basis: 0;
  flex-grow: 1;
  align-items: stretch;
  margin-right: 30px;
  display: block;
  display: flex;

  img {
    margin: auto;
    background-color: $background-gray;
    border-radius: 50%;
    width: 152px;
    height: 152px;
  }
}

.profile-header-right {
  flex-basis: 30px;
  flex-grow: 2;
  align-items: stretch;
  display: flex;
  flex-direction: column;
  color: $text-gray;
  position: relative;
}
.profile-header-right-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}
.profile-header-right-1 > h1 {
  font-size: 32px;
  line-height: 40px;
  font-weight: 200;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
}
.profile-header-right-1-edit-button {
  margin-left: 20px;
  padding: 0 24px;
  cursor: pointer;
  background: 0 0;
  border-color: $border-dark-gray;
  color: $text-gray;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  font-size: 14px;
  font-weight: 600;
  line-height: 26px;
  outline: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 130px;
  height: 28px;
}
.profile-header-right-1-edit-follow {
  margin-left: 20px;
  padding: 0 24px;
  cursor: pointer;
  background: 0 0;
  background: $light-blue;
  border-color: $light-blue;
  color: $white;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  font-size: 14px;
  font-weight: 600;
  line-height: 26px;
  outline: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 130px;
  height: 28px;
}
.profile-header-right-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 0;
  margin-bottom: 20px;
  list-style: none;

  li {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 0;
    font-size: 16px;
    margin-right: 40px;

    h3 {
      color: $text-gray;
      font-weight: 600;
      margin-right: 5px;
    }
  }
}
.profile-header-right-3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 16px;
  line-height: 24px;
  color: $text-gray;

  h3 {
    font-weight: 600;
    margin-right: 5px;
  }
}
